/* @media only screen and (max-width: 767px) { */


/* For mobile: */

.col-xs-1 {
    width: 8.33%;
}

.col-xs-2 {
    width: 16.66%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33%;
}

.col-xs-5 {
    width: 41.66%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33%;
}

.col-xs-8 {
    width: 66.66%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33%;
}

.col-xs-11 {
    width: 91.66%;
}

.col-xs-12 {
    width: 100%;
}

.text,
.title {
    letter-spacing: 1.5px;
}

.container .menu {
    background: #5c5c73;
    height: 90px;
    line-height: 90px;
}

.container .menu ul li a {
    color: #fff;
}

 :root {
    --font-size-title: 25px;
    --font-size-text: 15px;
}


/* container */

.container .menu a {
    text-decoration: none;
}

.container .menu li {
    padding: 0 10px;
    font-size: 13px;
}

.container .menu {
    background: #5c5c73;
    height: 90px;
    line-height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container .menu>ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.container .menu ul li:hover {
    cursor: pointer;
    transition: 220ms;
}

.container .menu ul li:hover>a {
    text-decoration: underline;
}

.container .menu>ul>div {
    list-style: none;
    display: flex;
}

.left-content,
.right-content {
    display: flex;
}

.container {
    margin-top: 150px;
}

.find-a-play {
    height: 150px;
    border-bottom: 1px solid gray;
}

.container .find-a-play .find-a-play-text.title {
    color: black !important;
    font-size: var(--font-size-title) !important;
    text-shadow: none !important;
}

.text {
    color: gray !important;
    text-shadow: none !important;
    font-size: var(--font-size-text) !important;
}

.title {
    color: black !important;
    font-size: var(--font-size-title) !important;
}


/* guides */

.container .guides {
    background-color: transparent;
}

.guides-images {
    margin: -15px;
    margin-top: 30px;
}

.guides-image-item {
    padding: 15px;
}


/* footer */

.footer {
    clear: both;
    padding: 5%;
}


/* img */

.img {
    width: 100%;
}


/* } */